@import "src/theme/theme-variables";

header {
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  z-index: 100;
}

.navbar {
  margin-bottom: $spacer;
  .logo {
    width: 120px;
  }
}

#navbar-menu {
  i.fas {
    font-size: 1.3rem;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.top-navbar.show {
  flex-basis: inherit;
  .navbar-nav {
    flex-direction: row;
  }
}

.bottom-navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dropdown-menu.show {
  position: absolute;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: theme-color("primary");
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
